<?xml version="1.0" encoding="utf-8"?>
<ArrayOfDocumentRestorationInfo xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Smellyriver.TankInspector.Pro.Modularity">
  <DocumentRestorationInfo>
    <Guid>b3eb3ab4-e1c6-458b-8fce-d894cc4975c1</Guid>
    <PersistentInfo>&lt;RepositoryManagerDocumentPersistentInfo xmlns="http://schemas.datacontract.org/2004/07/Smellyriver.TankInspector.Pro.InternalModules.RepositoryManager" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"&gt;&lt;RepositoryID i:nil="true"/&gt;&lt;/RepositoryManagerDocumentPersistentInfo&gt;</PersistentInfo>
    <Title>Game Clients</Title>
    <Uri>stipro://repositories/</Uri>
  </DocumentRestorationInfo>
</ArrayOfDocumentRestorationInfo>