<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal">
      <LayoutAnchorablePane Id="d7812ce7-f97e-4809-961a-7b3dffc7a2dc" DockWidth="359" FloatingWidth="277" FloatingHeight="559" FloatingLeft="-55" FloatingTop="451">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Game Client Explorer" ContentId="dad9e8c0-14db-4e24-9437-e7ff6c4d27b1" FloatingLeft="62" FloatingTop="446" FloatingWidth="277" FloatingHeight="559" LastActivationTimeStamp="09/01/2014 14:28:09" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Museum" IsSelected="True" ContentId="13ef27d4-ddb2-46c3-b4e0-d8edf00b0153" FloatingLeft="-55" FloatingTop="451" FloatingWidth="277" FloatingHeight="559" LastActivationTimeStamp="09/01/2014 14:28:09" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical">
        <LayoutDocumentPaneGroup Orientation="Vertical">
          <LayoutDocumentPane Id="3ddcd84e-bfb6-4cd4-b525-ddea5e2e1bc3">
            <LayoutDocument Title="Game Clients" IsSelected="True" IsLastFocusedDocument="True" ContentId="b3eb3ab4-e1c6-458b-8fce-d894cc4975c1" LastActivationTimeStamp="09/01/2014 14:28:36" />
          </LayoutDocumentPane>
        </LayoutDocumentPaneGroup>
      </LayoutPanel>
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="362" DockHeight="336.19">
        <LayoutAnchorablePane Id="0d05219b-7a72-41e2-9249-e469f60c5cc7" DockWidth="362" FloatingWidth="181" FloatingHeight="643" FloatingLeft="1427" FloatingTop="481">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Configuration" IsSelected="True" ContentId="090b35d3-1760-4a37-8589-4f8c66a8d30b" FloatingLeft="1427" FloatingTop="481" FloatingWidth="181" FloatingHeight="643" LastActivationTimeStamp="09/01/2014 14:28:22" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane Id="a8f87247-dcaf-431b-9105-38b36987c2fb" FloatingWidth="181" FloatingHeight="643" FloatingLeft="1175" FloatingTop="575">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Crews" IsSelected="True" ContentId="adcc6dc1-160b-48d3-bad0-12d624c4514c" FloatingLeft="1266" FloatingTop="941" FloatingWidth="181" FloatingHeight="643" LastActivationTimeStamp="09/01/2014 14:28:28" PreviousContainerId="a8f87247-dcaf-431b-9105-38b36987c2fb" PreviousContainerIndex="1" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" ContentId="72b29bff-9421-467b-84f8-730cc39ba8e0" FloatingLeft="1175" FloatingTop="575" FloatingWidth="181" FloatingHeight="643" LastActivationTimeStamp="09/01/2014 14:28:24" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="XML Tools" ContentId="3ddaf122-d17f-4866-aa22-0ec514218ac6" FloatingLeft="1175" FloatingTop="575" FloatingWidth="181" FloatingHeight="643" LastActivationTimeStamp="09/01/2014 14:28:24" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePane Id="10269a05-d4a5-4e3a-ada5-a1aa6da8569b" DockHeight="320.19" />
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide>
    <LayoutAnchorGroup PreviousContainerId="10269a05-d4a5-4e3a-ada5-a1aa6da8569b">
      <LayoutAnchorable AutoHideHeight="300" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Interactive" ContentId="0abff437-1f61-41eb-b0ea-bfcea65a174b" LastActivationTimeStamp="08/28/2014 15:27:58" />
    </LayoutAnchorGroup>
  </BottomSide>
  <FloatingWindows />
  <Hidden />
</LayoutRoot>