<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smellyriver.TankInspector.Pro.TankConfigurator.TankConfiguratorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Smellyriver.TankInspector.Pro.TankConfigurator.TankConfiguratorSettings>
            <setting name="ModulesExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AmmunitionExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EquipmentsExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsumablesExpanded" serializeAs="String">
                <value>False</value>
            </setting>
        </Smellyriver.TankInspector.Pro.TankConfigurator.TankConfiguratorSettings>
    </userSettings>
</configuration>