<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smellyriver.TankInspector.Pro.ModelShared.ModelSharedSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smellyriver.TankInspector.Pro.ModelShared.ModelSharedSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Smellyriver.TankInspector.Pro.ModelShared.ModelSharedSettings>
            <setting name="AnimationFramerate" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="ShadeColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ClippingRatioRectangle" serializeAs="String">
                <value>0.1,0.1,0.8,0.8</value>
            </setting>
            <setting name="StaticCaptureSampleFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AnimationSampleFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableAnimationPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModelComparerInterval" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="PrintVersionOnModelComparer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
        </Smellyriver.TankInspector.Pro.ModelShared.ModelSharedSettings>
    </userSettings>
    <applicationSettings>
        <Smellyriver.TankInspector.Pro.ModelShared.ModelSharedSettings>
            <setting name="MinimumStaticOutputWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MinimumStaticOutputHeight" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MaximumStaticOutputWidth" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="MaximumStaticOutputHeight" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="MinimumAnimationOutputWidth" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MinimumAnimationOutputHeight" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MaximumAnimationOutputWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MaximumAnimationOutputHeight" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MinimumAnimationFramerate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaximumAnimationFramerate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DefaultStaticOutputWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="DefaultStaticOutputHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="DefaultAnimationOutputWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DefaultAnimationOutputHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DefaultAnimationFramerate" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="MaximumModelComparerInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinimumModelComparerInterval" serializeAs="String">
                <value>0.1</value>
            </setting>
        </Smellyriver.TankInspector.Pro.ModelShared.ModelSharedSettings>
    </applicationSettings>
</configuration>