<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Smellyriver.TankInspector.Pro.ApplicationState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Smellyriver.TankInspector.Pro.DebugSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Smellyriver.TankInspector.Pro.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Smellyriver.TankInspector.Pro.ModelSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <userSettings>
    <Smellyriver.TankInspector.Pro.ApplicationState>
      <setting name="PreviousLoginToken" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousLoginTime" serializeAs="String">
        <value>0</value>
      </setting>
    </Smellyriver.TankInspector.Pro.ApplicationState>
    <Smellyriver.TankInspector.Pro.DebugSettings>
      <setting name="EnableXPathStatDebug" serializeAs="String">
        <value>False</value>
      </setting>
    </Smellyriver.TankInspector.Pro.DebugSettings>
    <Smellyriver.TankInspector.Pro.ApplicationSettings>
      <setting name="ShowFPS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowTriangleCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordHash" serializeAs="String">
        <value />
      </setting>
      <setting name="UICulture" serializeAs="String">
        <value />
      </setting>
    </Smellyriver.TankInspector.Pro.ApplicationSettings>
    <Smellyriver.TankInspector.Pro.ModelSettings>
      <setting name="ModelType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseHDModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WireframeMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowChassis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHull" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTurret" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowGun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridTextureMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseModTexture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCamouflage" serializeAs="String">
        <value>False</value>
      </setting>
    </Smellyriver.TankInspector.Pro.ModelSettings>
  </userSettings>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="stipro.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
</configuration>