<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smellyriver.TankInspector.Pro.StatsInspector.StatsInspectorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Smellyriver.TankInspector.Pro.StatsInspector.StatsInspectorSettings>
            <setting name="LastTemplateFilename" serializeAs="String">
                <value>Templates/Default.xaml</value>
            </setting>
            <setting name="StatDocumentViewingMode" serializeAs="String">
                <value>Page</value>
            </setting>
            <setting name="StatValueMode" serializeAs="String">
                <value>Instance</value>
            </setting>
        </Smellyriver.TankInspector.Pro.StatsInspector.StatsInspectorSettings>
    </userSettings>
</configuration>