<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smellyriver.TankInspector.Pro.TankMuseum.TankMuseumSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Smellyriver.TankInspector.Pro.TankMuseum.TankMuseumSettings>
            <setting name="FilterMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NationFilter" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="ClassFilter" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="TierFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PremiumFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RepositoryFilter" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="FilterKeyword" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreSpacesAndDashes" serializeAs="String">
                <value>True</value>
            </setting>
        </Smellyriver.TankInspector.Pro.TankMuseum.TankMuseumSettings>
    </userSettings>
</configuration>