<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smellyriver.TankInspector.Pro.CrewConfigurator.CrewConfiguratorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Smellyriver.TankInspector.Pro.CrewConfigurator.CrewConfiguratorSettings>
            <setting name="CommanderExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gunner1Expanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gunner2Expanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Loader1Expanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Loader2Expanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Radioman1Expanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Radioman2Expanded" serializeAs="String">
                <value>False</value>
            </setting>
        </Smellyriver.TankInspector.Pro.CrewConfigurator.CrewConfiguratorSettings>
    </userSettings>
</configuration>